@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Исправления для полной ширины */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Предотвращает горизонтальный скролл */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Гарантирует, что header растянется на всю ширину */
header {
  width: 100%;
}