@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Светлая тема по умолчанию */
:root {
  --color-bg: #f3f4f6;
  --color-text: #1a202c;
}

/* Темная тема */
.dark {
  --color-bg: #111827;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}