@import "tailwindcss";


/* Светлая тема по умолчанию */
:root {
  --color-bg: #f3f4f6;
  --color-text: #1a202c;
}

/* Темная тема */
.dark {
  --color-bg: #111827;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}

.gradient-text {
  background: linear-gradient(90deg, #60a5fa 0%, #a78bfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: background 0.6s, color 0.6s, -webkit-text-fill-color 0.4s;
}

.hover\:gradient-text-hover {
  background: none;
  transition: background 0.6s, color 0.6s, -webkit-text-fill-color 0.4s;
}

.hover\:gradient-text-hover:hover {
  background: linear-gradient(90deg, #60a5fa 0%, #a78bfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}